[Desktop Entry]
Version=1.0
Name=Arduino
Comment=Arduino IDE
TryExec=arduino-ide
Exec=arduino-ide -- %u
Icon=arduino
Terminal=false
StartupWMClass=ArduinoIDE
Type=Application
Categories=Utility;Application;Development;
MimeType=x-scheme-handler/tg;
Keywords=arduino;ide;
X-GNOME-UsesNotifications=true
